USE [master]
GO
/****** Object:  Database [DBNtxApp]    Script Date: 24/06/2020 17:56:40 ******/
CREATE DATABASE [DBNtxApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBNtxApp', FILENAME = N'C:\PROJETOS\NTXApp\Dados\DBNtxApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBNtxApp_log', FILENAME = N'C:\PROJETOS\NTXApp\Dados\DBNtxApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBNtxApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBNtxApp]
GO
USE [DBNtxApp]
GO
/****** Object:  Table [dbo].[tb_Atendimento]    Script Date: 24/06/2020 17:56:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Atendimento](
	[id_Atendimento] [int] IDENTITY(1,5) NOT NULL,
	[dt_InicioAtendimento] [datetime] NOT NULL,
	[id_Paciente] [int] NOT NULL,
	[tp_Atendimento] [nvarchar](150) NOT NULL,
	[dt_FimAtendimento] [datetime] NOT NULL,
	[tx_Observacao] [nvarchar](500) NULL,
 CONSTRAINT [PK_tb_Atendimento] PRIMARY KEY CLUSTERED 
(
	[id_Atendimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Pacientes]    Script Date: 24/06/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Pacientes](
	[id_Paciente] [int] IDENTITY(1,1) NOT NULL,
	[tx_Paciente] [nvarchar](150) NOT NULL,
	[dc_Paciente] [varchar](11) NOT NULL,
	[dt_NascPaciente] [smalldatetime] NULL,
 CONSTRAINT [PK_tb_Pacientes] PRIMARY KEY CLUSTERED 
(
	[id_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PerfilUser]    Script Date: 24/06/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PerfilUser](
	[id_User] [int] NOT NULL,
	[id_Permissao] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Permissao]    Script Date: 24/06/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Permissao](
	[id_Permissao] [int] IDENTITY(1,1) NOT NULL,
	[tp_Permissao] [nchar](30) NOT NULL,
	[fl_Permissao] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Permissao] PRIMARY KEY CLUSTERED 
(
	[id_Permissao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_User]    Script Date: 24/06/2020 17:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_User](
	[id_User] [int] IDENTITY(1,1) NOT NULL,
	[nm_User] [nvarchar](50) NOT NULL,
	[lg_User] [nvarchar](10) NOT NULL,
	[psw_user] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tb_User] PRIMARY KEY CLUSTERED 
(
	[id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_tb_Atendimento_tb_Pacientes] FOREIGN KEY([id_Paciente])
REFERENCES [dbo].[tb_Pacientes] ([id_Paciente])
GO
ALTER TABLE [dbo].[tb_Atendimento] CHECK CONSTRAINT [FK_tb_Atendimento_tb_Pacientes]
GO
ALTER TABLE [dbo].[tb_PerfilUser]  WITH CHECK ADD  CONSTRAINT [FK_tb_PerfilUser_tb_Permissao] FOREIGN KEY([id_Permissao])
REFERENCES [dbo].[tb_Permissao] ([id_Permissao])
GO
ALTER TABLE [dbo].[tb_PerfilUser] CHECK CONSTRAINT [FK_tb_PerfilUser_tb_Permissao]
GO
ALTER TABLE [dbo].[tb_PerfilUser]  WITH CHECK ADD  CONSTRAINT [FK_tb_PerfilUser_tb_User] FOREIGN KEY([id_User])
REFERENCES [dbo].[tb_User] ([id_User])
GO
ALTER TABLE [dbo].[tb_PerfilUser] CHECK CONSTRAINT [FK_tb_PerfilUser_tb_User]
GO
USE [master]
GO
